@import "../../../assets/scss/color.style.scss";

.title-1 {
  color: $blackColor;
}
.default-color {
  color: $defaultColor;
}
.pink-color {
  color: $orangeColor !important;
}
.input-field:focus {
  border-color: $orangeColor !important;
}
.root {
  flex-grow: 1;
}
.paper {
  padding: 8px !important;
  text-align: center !important;
  color: $orangeColor !important;
  height: 55vh !important;
  border-radius: 15 !important;
}
.margin {
  margin-top: 16px !important;
}
.color {
  background-color: $orangeColor !important;
  margin-top: 16px !important;
  color: $whiteColor !important;
}
.icon-color {
  color: $defaultColor;
}
